//= require nvd3/nv.d3.css

@import "semantic-ui";
@charset "utf-8";

.launch.button {
  position: fixed;
  top: 63px;
}

.popover {
  color: #333;
}
.node {
  stroke: #ccc;
  stroke-width: 1.5px;
}

.nodetext.director {
  fill: #ccc;
  stroke: none;
  font-size: 40px;
}

.fixed circle{
  stroke: tomato;
  stroke-width: 3px;
}

.link {
  stroke: #000;
  stroke-opacity: .8;
}