//= require d3.parcoords.css
//= require nvd3/nv.d3.css
//= require isteven-angular-multiselect/angular-multi-select.css

@import "semantic-ui";
@charset "utf-8";

.launch.button {
  position: fixed;
  top: 63px;
}

.popover {
  color: #333;
}
.node {
  stroke: #ccc;
  stroke-width: 1.5px;
}

.nodetext.director {
  fill: #ccc;
  stroke: none;
  font-size: 40px;
}

.fixed circle{
  stroke: tomato;
  stroke-width: 3px;
}

.link {
  stroke: #000;
  stroke-opacity: .8;
}

.title {
  font-style: bold;
}

.twitter-typeahead{
  .tt-dropdown-menu {
    z-index: 2001 !important;
    background-color: white;
    // border: 1px rgba(0, 0, 0, 0.7) solid;
    padding: 0 1em;
    border-radius: 0.1875rem;
    -webkit-box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.1);
    top: 110% !important;

    .heading {
        margin: 0 20px 5px 20px;
        padding: 3px 0;
        border-bottom: 1px solid #ccc;
    }
  }
}

.sticky-wrapper {
  .ui.menu {
    z-index: 3000 !important;
  }
  .checkboxLayer {
    max-height: 300px !important;
    overflow-y: scroll !important;
  }
}