---
title: Flix Analysis
---

<div class="ui inverted menu">
  <a class="active item">
    Flix Analysis
  </a>
</div>

<div class="ui red vertical demo sidebar menu">
	<div class="item">
		<img class="rounded ui image" src="http://intra.burltwpsch.org/Copy%20of%20users/dyeager/Web%20Design/Web%20Page%20Creation%20Class/2010-2011/S2/WPC12/thumbnail%20table/Inception-movie-poster.jpg">
	</div>
  <div class="item">
  	<div class="ui list">
  	  <div class="item">
  	    <div class="header">Genre</div>
  	    Action, Drama
  	  </div>
  	  <div class="item">
  	    <div class="header">Revenue</div>
  	    $500 million
  	  </div>
  	  <div class="item">
  	    <div class="header">Profit</div>
  	    $300 million
  	  </div>
  	  <div class="item">
  	    <div class="header">Rotten Tomato Rating</div>
  	    93%
  	  </div>
  	  <div class="item">
  	    <div class="header">IMDB Rating</div>
  	    9.4
  	  </div>
  	  <div class="item">
  	    <div class="header">Release Date</div>
  	    May 7th, 2011
  	  </div>
  	  <div class="item">
  	    <div class="header">Run time</div>
  	    132 mins
  	  </div>
  	  <div class="item">
  	    <div class="header">Country</div>
  	    U.S.A
  	  </div>
  	  <div class="item">
  	    <div class="header">Language</div>
  	    English
  	  </div>
  	</div>
  </div>
</div>

<div class="ui black huge launch right attached button">
	<i class="icon list layout"></i>
	<span class="text" style="display: none">Menu</span>
</div>

<div class="ui grid">
  <div class="one wide column">
    <!-- <div class="ui segment">
    </div> -->
  </div>
  <div class="fifteen wide column">
  	<div class="row">
  		<div class="ui menu" ng-controller="menuCtrl">
  		  <div class="item">
  		    <!-- <i class="home icon"></i> --> <div class="ui ribbon label">Flix Graphology</div>
  		  </div>
  		  <!-- <a class="item">
  		    <i class="mail icon"></i> Messages
  		  </a> -->
  		  <div class="item">
  		  	<div class="ui form">
  		  	  <div class="grouped inline fields">
  		  	    <div class="field">
  		  	    	<div>Bubble Color</div>
  		  	    	<br>
  		  	      <div class="ui radio checkbox">
  		  	        <input type="radio" name="bubble_type" checked="">
  		  	        <label>Critique</label>
  		  	      </div>
  		  	    </div>
  		  	    <div class="field">
  		  	      <div class="ui radio checkbox">
  		  	        <input type="radio" name="bubble_type">
  		  	        <label>Genre</label>
  		  	      </div>
  		  	    </div>
  		  	  </div>
  		  	</div>
  		  </div>
  		  <div class="item">
  		  	<div class="ui form">
  		  	  <div class="grouped inline fields">
  		  	    <div class="field">
  		  	    	<div>Bubble Size</div>
  		  	    	<br>
  		  	      <div class="ui radio checkbox">
  		  	        <input type="radio" name="bubble_size" checked="">
  		  	        <label>Production Cost</label>
  		  	      </div>
  		  	    </div>
  		  	    <div class="field">
  		  	      <div class="ui radio checkbox">
  		  	        <input type="radio" name="bubble_size">
  		  	        <label>Revenue</label>
  		  	      </div>
  		  	    </div>
  		  	  </div>
  		  	</div>
  		  </div>
  		  <div class="right menu">
  		    <div class="item">
  		      <div class="ui icon input">
  		        <input class="typeahead" type="text" placeholder="Search...">
  		        <i class="search link icon"></i>
  		      </div>
  		    </div>
  		  </div>
  		</div>
      <div ng-controller="graphCtrl">
        <!-- <graph data="data"></graph> -->
      </div>
      <!-- <div ng-controller="treeCtl">
            <div treemap="tree"
              name="formatName(name)"
              detail="onDetail(node)"
              colorLow="rgb(178, 34, 0)"
              colorMid="rgb(236, 212, 32)"
              colorHigh="rgb(56, 96, 54)"></div>
          </div> -->
  	</div>
  	<div class="row">
  		<div class="ui three column grid">
  			<div class="column">
  				<div class="ui segment">
  					<div ng-controller="discreteBarChartCtrl">
                <nvd3 options="options" data="data"></nvd3>
            </div>
            <!-- <div ng-controller="lineChartCtrl">
  					    <nvd3 options="options" data="data"></nvd3>
  					</div> -->
            <!-- <div id="viz"></div> -->
            <!-- <div ng-controller="scatterChartCtrl">
                <nvd3 options="options" data="data"></nvd3>
            </div> -->
  				</div>
  			</div>
  			<div class="column">
  				<div class="ui segment">
  					<div ng-controller="scatterChartCtrl">
  					    <nvd3 options="options" data="data"></nvd3>
  					</div>
  				</div>
  			</div>
  			<div class="column">
  				<div class="ui segment">
  					<div ng-controller="pieChartCtrl">
  					    <nvd3 options="options" data="data"></nvd3>
  					</div>
  				</div>
  			</div>
  		</div>
  	</div>
    <div class="row">
      <div class="ui three column grid">
        <div class="column">
          <div class="ui segment">
            <!-- <div ng-controller="discreteBarChartCtrl">
                <nvd3 options="options" data="data"></nvd3>
            </div> -->
            <div ng-controller="lineChartCtrl">
                <nvd3 options="options" data="data"></nvd3>
            </div>
            <!-- <div id="viz"></div> -->
            <!-- <div ng-controller="scatterChartCtrl">
                <nvd3 options="options" data="data"></nvd3>
            </div> -->
          </div>
        </div>
        <div class="column">
          <div class="ui segment">
            <!-- <div ng-controller="scatterChartCtrl">
                <nvd3 options="options" data="data"></nvd3>
            </div> -->
            <div id="viz"></div>
          </div>
        </div>
        <div class="column">
          <div class="ui segment">
            <div ng-controller="multiBarChartCtrl">
                <nvd3 options="options" data="data"></nvd3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>