---
title: Flix Analysis
---

<div class="ui inverted menu">
  <a class="active item">
    Flix Analysis
  </a>
</div>

<!-- Sidebar -->
<div ng-include="'views/partials/sidebar_menu.html'"></div>

<!-- Sidebar Toggle -->
<div class="ui black huge launch right attached button" id="sidebar-menu">
	<i class="icon list layout"></i>
	<span class="text" style="display: none">Menu</span>
</div>

<div class="ui grid">
  <div class="row">
    <div class="one wide column">
      
    </div>
    <div class="fifteen wide column">
      <!-- Flix Controls -->
      <div class="ui top menu" ng-controller="menuCtrl" id="sticker">
        <!-- <div ng-include="'views/partials/flix_controls.html'" onload="onLoad()"></div> -->
        <div class="item">
          <!-- <i class="home icon"></i> --> <div class="ui ribbon label">Flix Controls</div>
        </div>
        <!-- <a class="item">
          <i class="mail icon"></i> Messages
        </a> -->
        <!-- <div class="item">
          <div class="ui form">
            <div class="grouped inline fields">
              <div class="field">
                <div>Bubble Size</div>
                <br>
                <div class="ui radio checkbox">
                  <input radio type="radio" name="name2" ng-model="production_revenue" value="production">
                  <label>Production Cost</label>
                </div>
              </div>
              <div class="field">
                <div class="ui radio checkbox">
                  <input radio type="radio" name="name2" ng-model="production_revenue" value="revenue">
                  <label>Revenue</label>
                </div>
              </div>
            </div>
          </div>
        </div> -->
        <!-- <div class="right menu"> -->
          <div class="item">
            <!-- <div class="ui icon input">
              <input class="typeahead" type="text" placeholder="Search...">
              <i class="search link icon"></i>
            </div> -->
            <h5>Celebrity Selection</h5>
            <div 
                multi-select 
                input-model="celebrities"
                button-label="name"         
                item-label="name" 
                tick-property="ticked" 
                orientation="vertical"
                helper-elements="none filter reset"
                group-property="multiSelectGroup"
                on-item-click="updateCelebrities(data)"
                output-model="selectedCelebrities"
            >
            </div>
            <pretty-checkbox ng-model="common.checked" label="'Common Movies'"></pretty-checkbox>
          </div>
          <!-- <div class="item">
            <h5>Genre Selection</h5>
            <div 
                multi-select 
                input-model="genres"
                button-label="name"         
                item-label="name" 
                tick-property="ticked" 
                orientation="vertical"
                max-labels="2"
                helper-elements="all none filter reset"
                on-item-click="updateGenres(data)"
                output-model="selectedGenres"
            >
            </div>
          </div> -->
          <div class="item">
            <h5>Movie Selection</h5>
            <div 
                multi-select 
                input-model="movies"
                button-label="name"         
                item-label="name" 
                tick-property="ticked" 
                orientation="vertical"
                max-labels="3"
                helper-elements="all none filter reset"
                on-item-click="updateMovies(data)"
                output-model="selectedMovies"
            >
            </div>
          </div>
        <!-- </div> -->
      </div>
    </div>
  </div>
  <div class="row">
    <div class="one wide column">
      <div class="ui icon header">
        <i class="circular zoom out icon"></i>Macro View
        <div class="sub header">Overview</div>
      </div>
    </div>
    <div class="fifteen wide column">
      <!-- Macro View -->
      <div class="row" id="macro-view" ng-controller="macroCtrl" ng-include="'views/partials/macro_view.html'" onload="onLoad()">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="one wide column">
      <div class="ui icon header">
        <i class="circular zoom in icon"></i>Micro View
        <div class="sub header">Detail View</div>
      </div>
    </div>
    <div class="fifteen wide column">
      <!-- Micro View -->
      <div class="row" id="micro-view" ng-controller="microCtrl" ng-include="'views/partials/micro_view.html'" onload="onLoad()">
      </div>
    </div>
  </div>
</div>